<!-- JQuery DataTable Css -->
<link href="/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">

<div class="block-header">
    <h2>
        History rút vàng

    </h2>
</div>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                    <thead>
                        <tr>
                            <th>Server</th>
                            <th>Tài khoản</th>
                            <th>TNV</th>
                            <th>Số vàng</th>
                            <th>Tên bot</th>
                            <th>Trước gd</th>
                            <th>Sau gd</th>
                            <th>Thời gian</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (var i=0; i < history.length; i++) { %>
                            <tr>                       
                                <td> <span class="label label-info">Server <%=history[i].server%></span></td>
                                <td><%=history[i].taikhoan%></td>
                                <td><%=history[i].tnv%></td>
                                <td><%= String(Math.round(history[i].sovang)).replace(/(.)(?=(\d{3})+$)/g,'$1,')%> </td>
                                <td><%=history[i].botgd%></td>
                                <td><%= String(Math.round(history[i].truocgd)).replace(/(.)(?=(\d{3})+$)/g,'$1,')%> </td>
                                <td><%= String(Math.round(history[i].saugd)).replace(/(.)(?=(\d{3})+$)/g,'$1,')%> </td>
                                <td><%= new Date(Date.parse(history[i].time)).toLocaleString()%></td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<!-- Jquery DataTable Plugin Js -->
<script src="/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>

<script src="/js/pages/tables/jquery-datatable.js"></script>